.dashboard {
  position: relative;
  margin: 0 auto;
  width: 880px;
  font-family: 'Noto Sans JP', sans-serif;

  @media (max-width: 1024px) {
    width: 100%;

    @media(min-width: 280px) {
      width: 280px;
    }

    @media(min-width: 320px) {
      width: 320px;
    }

    @media(min-width: 360px) {
      width: 360px;
    }

    @media(min-width: 375px) {
      width: 375px;
    }

    @media(min-width: 410px) {
      width: 411px;
    }

    @media(min-width: 413px) {
      width: 414px;
    }

    @media(min-width: 540px) {
      width: 540px;
    }

    @media(min-width: 768px) {
      width: 500px;
    }

    @media(min-width: 1020px) {
      margin: 0 20px 0 auto;
      width: 870px;
    }
  }

  .dashboard.fixed {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 980px) {
    .column2 {
      display: none;
    }
  }

  .column1 {
    display: flex;
    position: relative;
    flex-direction: column;
    float: left;
    margin-top: 100px;

    @media (max-width: 980px) {
      float: none;
      margin: 50px 0 20px -2px;
    }


    .browserPostsNavContainer {
      position: relative;
      display: flex;
      
      .profilePic {
        position: absolute;
        left: -85px;
        width: 70px;
        height: 75px;
        object-fit: contain;
        box-shadow: 0px 3px 19px -3px black;
        border-radius: 5px;

        @media (max-width: 980px) {
          display: none;
        }
      }

      .browserPostsNav {
        display: flex;
        justify-content: space-between;
    
        //for browser
        @media (max-width: 980px) {
          display: none;
        }
      
        position: relative;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 1px 23px -6px black;
        width: 500px;
        height: 120px;
        overflow: hidden;
      
        .postIconContainer {
          position: relative;
          font-weight: 500;
          margin: auto auto;
      
          
          div {
            position: relative;
            display: flex;
            flex-direction: column;

            &:hover {
              cursor: pointer;
  
              img {
                top: -5px;
              }
            }
            
            img {
              position: relative;
              top: 0px;
              height: 45px;
              transition: top .2s;
            }
      
            span {
              display: inline-block;
              text-align: center;
            }
          }
        }

        .textIcon,
        .photoIcon,
        .quoteIcon,
        .linkIcon,
        .chatIcon,
        .audioIcon,
        .videoIcon {
          top: 0;
          
          &:hover {
            img {
              top: -5px;
            }
          }
        }
      }

    }
    
    .userOrTagFeed {
      position: relative;
      margin-top: 25px;
      width: 500px;

      @media (max-width: 1024px) {
        width: 500px;
        
        @media(min-width: 768px) {
          width: 80%;
        }

        @media(max-width: 980px) {
          width: 100%;
        }
      }
      
      .loading { 
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        height: 100px;

        .loadingBarContainer {
          display: flex;
          justify-content: center;
          margin: auto;
          height: 100px;
          width: 200px;

          .bar1,
          .bar2,
          .bar3,
          .bar4 {
            display: flex;
            width: 20px;
            height: 70px;
            margin-top: 15px;
            margin-left: 10px;
            border-radius: 5px;
            background-color: var(--tumblr-light-blue);
            transition: all 1s ease;
            
          }
        }
      }

        .loading.left {
          
          .loadingBarContainer {
            .bar1 {
              filter: brightness(1);
              transform: scale(.8);
            }
            .bar2 {
              filter: brightness(.9);
              transform: scale(.75);
            }
            .bar3 {
              filter: brightness(.8);
              transform: scale(.7);
            }
            .bar4 {
              filter: brightness(.7);
              transform: scale(.65);
            }
          }
        }

        .loading.right {
          
          .loadingBarContainer {
            .bar1 {
              filter: brightness(.7);
              transform: scale(.7);
            }
            .bar2 {
              filter: brightness(.8);
              transform: scale(.9);
            }
            .bar3 {
              filter: brightness(.9);
              transform: scale(.95);
            }
            .bar4 {
              filter: brightness(1);
              transform: scale(1);
            }
          }
        }

      }
    }
  }
  
  .column2, .followContainer {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 100px;

    .checkOutTheseBlogs {
      display: flex;
      position: relative;
      left: 0px;
      flex-direction: column;
      position: relative;
      width: 330px;
      height: auto;

      .explore {
        color: var(--tumblr-light-blue);
        font-size: 17px;
        margin: 25px 0 0 8px;
      }

      .profilePic {
        position: relative;
        margin-top: 8px;
        width: 38px;
        height: 42px;
        border-radius: 5px;
      }

      h1 {
        font-size: 22px;
        font-weight: 700;
        border-bottom: 3px solid #1A283E;
        padding: 0 0 15px 10px;
        color: var(--off-white);
      }
    
      div {
        display: flex;
        
        a {
          margin: 15px 0 10px 8px;
          color: var(--off-white);
          
          &:hover {
            cursor: pointer;
          }

        h3 {
          margin: 5px 0 3px 0;
          font-weight: 700;
        }
        p {
          color: white;
          opacity: .5;
          width: 200px;
          font-size: 14px;
          font-weight: 500;
        }

      }

      form {
        margin-left: auto;

        button {
          font-size: 15px;
          font-weight: 700;
          margin: 25px 10px 0 0;
          color: var(--tumblr-light-blue);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }    
}
