.browserUserSettingsContainer {
  background-color: white;
  width: 700px;
  margin: 120px auto;
  border-radius: 3px;

  .browserUserSettings {
    position: relative;
    padding: 40px;
    font-family: var(--font);
    color: var(--middler-gray);

    .inputAndBtnContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
x
      .errMessage {
        margin: 10px 0;
        word-break: break-all;
        width: 60%;
      }

      .blogDescriptionTextarea {
        width: 60%;
        height: 60px;
        font-size: 17px;
        font-family: var(--font);
        padding: 8px 0;
      }

      .characterCount {
        font-size: 12px;
      }
      
      input {
        width: 50%;
        font-size: 18px;
        margin: 10px 0 0 0;
      }

      button {
        width: fit-content;
        font-size: 16px;
        font-weight: 700;
        color: white;
        border-radius: 3px;
        margin: 15px 0;
      }
      
      .cancel {
        background-color: rgb(0, 0, 0, 0.4);
        padding: 8px 10px;

        &:hover {
          cursor: pointer;
        }
      }

      .save {
        background-color: var(--tumblr-light-blue);
        padding: 8px 15px;
        margin-left: 15px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .deleteMyAcctBtn {
      background-color: rgb(0, 0, 0, 0.4);
      color: white;
      font-weight: 700;
      padding: 8px 15px;
      margin: 10px 0;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
      }
    }

    .deleteMyAcct {
      display: flex;
      flex-direction: column;

      input {
        width: 50%;
        font-size: 18px;
        margin: 10px 0 0 0;
      }

      .deleteOrCancelContainer {
        margin: 15px 0;

        .cancel {
          background-color: rgb(0, 0, 0, 0.4);
          padding: 8px 10px;
          margin-left: 15px;
          border-radius: 3px;
  
          &:hover {
            cursor: pointer;
          }
        }
  
        .save {
          background-color: var(--tumblr-light-blue);
          padding: 8px 15px;
          border-radius: 3px;
  
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .deleteMyAcct.confirm {
      display: flex;
      flex-direction: row;
      width: fit-content;
      margin: 10px 0 0 0;

      button {
        font-size: 17px;
        font-weight: 700;
        color: white;

        &:hover {
          cursor: pointer;
        }
      }
      
      .confirmDelete {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px 10px;
        border-radius: 3px;
        background-color: rgb(0, 0, 0, 0.4);

        span {
          display: inline-block;
          margin: 0 auto;
        }
      }

      .cancel {
        background-color: var(--tumblr-light-blue);
        padding: 5px 10px;
        border-radius: 3px;
        margin-left: 15px;
      }
    }

    .filteringContainer {
      
      ul {
        li {
          display: flex;
          margin: 5px 10px 0 0;
          padding: 5px 0 0 0;
          border-top: 1px solid rgb(0, 0, 0, 0.1);

          span {
            display: inline-block;
            width: 50%;
            word-break: break-all;

            &:hover {
              cursor: default;
            }
          }

          button {
            color: white;
            background-color: rgb(0, 0, 0, 0.4);
            height: fit-content;
            margin: 0 0 0 17px;
            padding: 8px 8px;
            border-radius: 3px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .filterTagInputContainer {
      font-family: var(--font);

      input {
        width: 50%;
        font-size: 18px;
        margin: 5px 10px 5px 0;
        padding: 3px 0 3px 1px;
        border: 1px solid rgb(0, 0, 0, 0.1);
      }

      button {
        color: white;
        background-color: var(--tumblr-light-blue);
        font-weight: 700;
        padding: 10px 20px;
        border-radius: 3px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .backBtn {
      
      img {
        width: 50px;
        height: 50px;
      }
    }

    .userSettingHeader {
      font-size: 22px;
      margin: 10px 0 0 0;
    }
    
    .editPostBtn {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0 0 0 auto;
      opacity: .5;
    }
    
    h1 {
      font-size: 29px;
      border-bottom: 2px solid rgb(0, 0, 0, 0.1);
      padding-bottom: 22px;
    }

    .settingContainer {
      position: relative;
      display: flex;
      width: 100%;
      border-top: 1px solid rgb(0, 0, 0, 0.1);

      p {
        font-size: 15px;
        margin: 10px 0;
      }
    }

    .editProfilePic {

      .editPostBtn {
        margin: 0 0 0 auto;
      }

      .currentProPic {
        margin: 15px 0;
        height: 100%;
        width: 100%;

        .profilePic {
          object-fit: contain;
          width: 20%;
          height: 20%;
          padding: 0 0 10px 0;
          margin: 10px 0 0 0;

        }
      }

      .upload {

        .previewImg {
          
          img {
            width: 100%;
            padding: 10px 0 0 0
          }
        }
      }
    }

    .upload {

      .profilePicPreview {
      
        .previewImg {
          position: relative;
          width: 300px;
          height: auto;
          margin-bottom: 15px;
    
          .removeProPicBtn {
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            color: white;
            font-weight: bold;
            top: -10px;
            left: 278px;
            background-color: red;

            &:hover {
              cursor: pointer;
            }
          }
    
          img {
            display: block;
            margin: auto;
            object-fit: contain;
          }
        }
    
        .profilePicFileInputCustomLabel {
          display: block;
          margin: auto;
          margin-bottom: 15px;
          position: relative;
          border-radius: 5px;
          background-color: var(--light-gray);
          height: 200px;
          width: 200px;
    
          &:hover {
            cursor: pointer;
          }
    
          div {
            display: flex;
            position: relative;
            flex-direction: column;
            top: 50%;
            transform: translateY(-50%);
            
            
    
            img {
              display: block;
              margin: auto;
              width: 70px;
              filter: grayscale(100%);
              opacity: .7;
            }
    
            span {
              display: block;
              margin: auto;
            }
          }
        
          #profilePicFileInput {
            display: none;
          }
        }
      }
    }


    .filteringContainer {
      
      h3 {
        font-size: 17px;
        margin: 8px 0;
      }
    }
  }
}
