.userOrTagFeed, .discoverFeed, .postShow, .postRadar {

  .userLikesHeader {
    background-color: var(--tumblr-translucent-blue);
    color: white;
    height: fit-content;
    margin: 0 0 20px 0;
    border-radius: 3px;

    h1 {
      font-size: 50px;
      font-weight: 500;
      margin: 15px;
    }

    .totalLikeCount {
      display: inline-block;
      font-size: 20px;
      margin: 0 0 15px 20px;
    }

  }

  .post {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 25px;

    @media (max-width: 980px) {
      margin-bottom: 10px;
    }

    border: 1px solid var(--tumblr-deep-blue);
    border-radius: 3px;
    font-family: var(--font);
    background-color: white;

    .userPostHeader {
      position: relative;
      display: flex;
      font-size: 13px;
      font-weight: 700;
      margin: 20px 0 20px 15px;
      
      a {
        color: inherit;

        @media (max-width: 980px) {
          margin: 0 0 0 20px;

          @media (min-width: 768px) {
            margin: 0;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      form {
        button {
          position: relative;
          top: -1px;
          display: inline-block;
          margin: 0 0 0 15px;
          color: var(--tumblr-light-blue);
          font-weight: 700;
          font-size: 14px;
          font-family: var(--font);
        }
      }


      .profilePic {
        position: absolute;
        top: -14px;
        left: -100px;
        padding: 3px 0 3px 0;
        width: 70px;
        height: 65px;
        border-radius: 5px;

        @media (max-width: 980px) {
          top: -9px;
          left: -2px;
          width: 30px;
          height: 30px;

          @media (min-width: 768px) {
            top: -20px;
            left: -100px;
            width: 70px;
            height: 65px;
          }
        }
      }
    }


    .descriptionTextAndImage {
      width: 100%;

      .descriptionText {
        margin: 10px 0 -10px 12px;
        width: 96%;
      }

      .descriptionImgContainer {
        width: 100%;
        margin: -1% 0 0 0;

        .descriptionImg {
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .postTags {
      position: relative;
      display: flex;

      .tag {
        margin-left: 15px;

        a {
          color: inherit;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .postNotes {
      display: inline-flex;
      flex-direction: column;
      position: absolute;
      bottom: 30px;
      left: 75px;
      height: 350px;
      width: 270px;
      background-color: white;
      border-radius: 3px;
      box-shadow: 0px 2px 30px -1px black;
      z-index: 94;

      @media (max-width: 980px) {

        @media (min-width: 280px) {
          left: 0;
          width: 101vw;
        }

        @media (min-width: 540px) {
          left: 50px;
          width: 300px;
        }
      }

      .notesHeader {
        position: relative;
        display: inline-block;
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
        
        img {
          position: relative;
          display: inline-block;
          top: 5px;
          width: 35px;
          height: 35px;
          margin: 5px 0;
          
        }

        span {
          position: relative;
          display: inline-block;
          top: -12px;
          left: 65px;
        }
      }

      .notes {
        height: 100%;
        overflow: auto;
        background-color: var(--light-gray);

        a {
          color: inherit;
          cursor: pointer;
        }

        li {
          display: flex;
          margin: 10px 3px 0 3px;

          &:last-child {
            margin-bottom: 10px;
          }

          .profilePic {
            border-radius: 3px;
            margin: 0 15px 0 0;
          }

          .commentActivityIcon,
          .likeActivityIcon,
          .repostActivityIcon {
            position: relative;
            top: -10px;
            left: 15px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            padding: 4px;
            
            img {
              position: relative;
              top: -11px;
              left: 0px;
              height: 8px;
              width: 8px;
            }
          }

          .repostActivityIcon {
            img {
              top: -10px;
              left: -1px;
              width: 10px;
              height: 10px;
            }
          }

          .noteContentContainer {
            position: relative;
            background-color: white;
            width: 80%;
            border-radius: 3px;

            .noteContentHeader {
              display: flex;
              justify-content: space-between;

              a {
                font-size: 12px;
                font-weight: 700;
                margin: 3px 8px;
                color: inherit;
              }

              div {

                .commentOptions {
                  position: relative;
                  display: none;
                  left: -5px;
                  width: 22px;
                  height: 22px;

                  &:hover {
                    cursor: pointer;
                  }
                }

                .commentOptions.active {
                  display: block;
                }
  
                .deleteCommentContainer {
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  margin: 3px;
                  left: 80px;
                  width: 120px;
                  background-color: white;
                  border-radius: 3px;
                  box-shadow: 1px 2px 15px -6px black;
                  z-index: 90;
  
                  .deleteCommentBtn,
                  .closeCommentBtn {
                    cursor: pointer;
                    margin: 0 auto;
                    padding: 8px 0;
                  }

                  .deleteCommentBtn {
                    color: red;
                  }
                }
              }
            }

            p {
              font-size: 14px;
              margin: 10px 0 8px 8px;
            }
          }
          
          .commentActivityIcon {
            background-color: var(--tumblr-light-blue);            
          }

          .likeActivityIcon {
            background-color: red
          }

          .repostActivityIcon {
            background-color: var(--tumblr-green);
          }

          &:hover {
            .noteContentContainer {
              .noteContentHeader {
                .commentOptions {
                  display: block;
                }
              }
            }
          }
        }

        img {
          width: 25px;
          height: 25px;
        }

        .noteContentHeader.repost {
          display: flex;
          flex-direction: column;

          .repostIconAndRepostFromContainer {
            display: flex;
            padding-left: 8px;
            opacity: .6;

            .repostIconHeader {
              width: 18px;
              height: 18px;
            }
          }
        }
      }

      .commentInputContainer {
        border-top: 1px solid rgb(0, 0, 0, 0.1);

        textarea {
          height: 45px;
          width: 190px;
          margin: 8px 0 3px 5px;
          font-size: 15px;
        }

        button {
          position: relative;
          top: -2px;
          padding: 5px;
          margin: 3px;
          font-size: 15px;
          font-weight: 700;
          color: rgb(0, 0, 0, 0.5);
        }
      }

    }

    .postFooter {
      display: flex;
      justify-content: space-between;
      margin: 20px 0 5px 0;

      .notesBtn {
        position: relative;
        font-weight: 500;
        margin: 5px 0 0 12px;

        @media (max-width: 980px) {

          @media (min-width: 280px) {
            top: -5px;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
      
      .commentBubbleBtn,
      .repostIcon,
      .likeBtn,
      .deletePostBtn,
      .editPostBtn {
        width: 35px;
        height: 35px;
        margin-right: 20px;

        @media (max-width: 980px) {

          @media (min-width: 280px) {
            width: 25px;
            height: 25px;
            margin-right: 7px;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      .deletePostBtn {
        position: relative;
        top: -3px;
        width: 30px;
        height: 30px;

        @media (max-width: 980px) {

          @media (min-width: 280px) {
            width: 22px;
            height: 22px;
          }
        }
      }

      .editPostBtn {
        position: relative;
        top: -1px;
      }
    }

    .postOptions {

      .addCommentBtn,
      .repostIcon,
      .likeBtn {
        width: 40px;
        height: 40px;
        margin: 0 15px 0 0;

        @media (max-width: 1024px) {
          width: 30px;
          height: 30px;
        }
      }
    }

    .confirmDeleteModal {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--tumblr-deep-blue-modal);
      z-index: 500;
    }

    .confirmDelete {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-120%);
      z-index: 501;
      width: 400px;

      p {
        display: inline-block;
        position: relative;
        text-align: center;
        margin-bottom: 35px;
        font-size: 25px;
        font-weight: 700;
        left: 50%;
        transform: translateX(-50%);
        color: white;
      }

      div {
        display: flex;
        justify-content: center;
        font-family: var(--font);

        button {
          margin: 0 15px 0 15px;
          font-size: 18px;
          font-weight: 500;
          border-radius: 3px;
        }

        .cancelBtn {
          background-color: var(--cancel-gray);
          padding: 8px 13px;

          &:hover {
            cursor: pointer;
          }
        }

        .deleteBtn {
          background-color: var(--tumblr-light-blue);
          padding: 8px 15px;

          &:hover {
            cursor: pointer;
          }
        }
      }

    }

    .repostModal {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--tumblr-deep-blue-modal);
      z-index: 504;
      overflow: auto;

      .repostForm {
        display: block;
        position: relative;
        width: 600px;
        top: 130px;
        margin-bottom: 250px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 3px;
        z-index: 505;

        .repostHeaderExtraProPic {
          display: inline-block;
          margin: 25px 0 0 18px;
        
          .standAloneLink {
            position: absolute;
            top: 0;
            left: -85px;
            
            .profilePic {
              border-radius: 3px;
              width: 70px;
              height: 75px;
            }
          }

          .profilePicAndLinkContainer {
            display: flex;

            .profilePic {
              position: relative;
              width: 22px;
              height: 22px;
              margin-right: 10px;
            }


            a {
              display: block;
              font-size: 13px;
              font-weight: 700;
              color: inherit;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .userRepostFormHeader {
          border-bottom: 1px solid rgb(0, 0, 0, 0.1);
          z-index: 95;

          span {
            display: inline-flex;
            margin: 5px 10px;     

            .user {
              display: block;
              font-size: 13px;
              font-weight: 700;
              margin: 10px 0 10px 10px;

              &:hover {
                cursor: pointer;
              }
            }
  
            img {
              display: block;
              position: relative;
              width: 22px;
              height: 22px;
              opacity: .6;
              margin: 10px 0 10px 5px;
            }
  
            .repostedFrom {
              display: block;
              margin: 10px 0 10px 5px;
              font-size: 13px;
              font-weight: 700;
              opacity: .6;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .descriptionStringContainer {
          width: 100%;
          margin-top: 15px;
          min-height: 80px;
          border-top: 1px solid rgb(0, 0, 0, 0.1);

          .ck {
            width: 93%;
            margin: 5px;
          }
        
        }

        .closeOrPostContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 65px;
          border-top: 1px solid rgb(0, 0, 0, 0.1);
  
          .closeBtn {
            position: relative;
            background-color: rgb(0, 0, 0, 0.4);
            height: fit-content;
            width: fit-content;
            font-size: 14px;
            font-weight: 700;
            padding: 6px 10px 8px 10px;
            margin-left: 17px;
            border-radius: 3px;
            color: white;
  
            &:hover {
              cursor: pointer;
            }
          }
  
          .confirmCloseModal {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--tumblr-deep-blue-modal);
            z-index: 500;
          }
  
          .confirmCloseContainer {
            position: absolute;
            color: white;
            top: 40%;
            left: 50%;
            transform: translateX(-50%);
            width: 280px;
            z-index: 501;
  
            .discardTitle {
              display: inline-block;
              margin: 0 0 15px 42px;
              font-size: 24px;
  
              &:hover {
                cursor: default;
              }
            }
  
            div {
              position: relative;
              display: flex;
              justify-content: space-between;
  
              .cancel {
                position: relative;
                padding: 10px 25px 10px 25px;
                border-radius: 2px;
                font-weight: bold;
                background-color: var(--best-gray);
                
                &:hover {
                  cursor: pointer;
                }
              }
              
              .discard {
                position: relative;
                padding: 10px 38px 10px 38px;
                font-weight: bold;
                border-radius: 2px;
                background-color: var(--tumblr-light-blue);
  
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
  
          .formSubmitBtn {
            position: relative;
            display: block;
            font-size: 15px;
            font-weight: 700;
            height: fit-content;
            width: fit-content;
            margin-right: 17px;
            padding: 8px 14px 8px 14px;
            border-radius: 3px;
            background-color: var(--tumblr-light-blue);
            color: white;
  
            &:hover {
              cursor: pointer;
            }
          }
  
          .formSubmitBtn.disabled {
            color: rgb(255, 255, 255, .5)
          }
        }
      }
    }
    
  }

  .post.repost {

    .userRepostShowHeader {
      border-radius: 3px 3px;
      border-bottom: 1px solid rgb(0, 0, 0, 0.1);

      .profilePic {
        position: absolute;
        border-radius: 3px;
        top: 0px;
        left: -85px;
        width: 70px;
        height: 75px;

        @media (max-width: 980px) {
          top: 10px;
          left: 11px;
          width: 30px;
          height: 30px;

          @media (min-width: 768px) {
            top: 0;
            left: -85px;
            width: 70px;
            height: 65px;
          }

        }
      }

      .repostHeaderContainer {
        display: inline-flex;
        margin: 5px 0 10px 10px;

        @media (max-width: 1024px) {
          display: flex;
          flex-direction: column;
          margin: 5px 0 10px 40px;
        }

        a {
          color: inherit;
        }


        .user {
          display: block;
          font-size: 13px;
          font-weight: 700;
          margin: 10px 0 10px 10px;

          @media (max-width: 1024px) {
            margin: 10px 0 0 10px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .iconRepostedAndFollowContainer {
          display: flex;
          flex-wrap: wrap;

          img {
            display: block;
            position: relative;
            width: 22px;
            height: 22px;
            opacity: .6;
            margin: 10px 0 10px 5px;

            @media (max-width: 1024px) {
              margin: 5px 0 0 10px;
            }
          }
  
          .repostedFrom {
            display: block;
            font-size: 13px;
            font-weight: 700;
            opacity: .6;
            margin: 10px 0 10px 5px;

            @media (max-width: 1024px) {
              margin: 5px 0 10px 5px;
            }
  
            &:hover {
              cursor: pointer;
            }
          }
  
          form {
            button {
              position: relative;
              top: 6px;
              display: inline-block;
              font-family: var(--font);
              font-weight: 700;
              font-size: 13px;
              color: var(--tumblr-light-blue);
              margin: 0 0 0 15px;

              @media (max-width: 1024px) {
                top: 1px;
                margin: 0 0 0 15px;
              }
            }
          }
        }
      }
    }

    .userRepostHeader {
      margin: 10px 0 15px 15px;
    
      span {
        display: inline-block;
        .profilePic {
          position: relative;
          top: 5px;
          width: 22px;
          height: 22px;
          border-radius: 3px;
          margin: 0 8px 0 0;
        }
        a {
          font-size: 13px;
          font-weight: 700;
          color: inherit;
        }
      }
    }
    .repostItemList {
      .repostShowItem {
        margin: 0 0 15px 0;
        border-top: 1px solid rgb(0, 0, 0, 0.1);
        span {
          margin: 12px 0 0 15px;
          display: flex;
          .profilePic {
            position: relative;
            top: 5px;
            width: 22px;
            height: 22px;
          }
          .repostActivityIcon {
            position: relative;
            top: 20px;
            left: -8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            padding: 4px;
            background-color: var(--tumblr-green);
          
            img {
              position: relative;
              top: -10px;
              left: -1px;
              height: 10px;
              width: 10px;
            }
          }
          a {
            position: relative;
            top: 7px;
            left: -3px;
            font-size: 13px;
            font-weight: 700;
            color: inherit;
          }
        }
        .repostCaptionDiv {
          margin: 20px 15px 0 15px;
          width: 90%;

          @media (max-width: 980px) {
            width: 90%;
          }
        }
      }
    }
  }

  .post.textPost {

    .textPostTitle {
      display: block;
      font-size: 32px;
      margin: 10px 15px 20px 10px;
    }
  }

  .post.photoPost {

    .mainImageContainer {
      .mainImage {
        display: inline-block;
        position: relative;
        object-fit: contain;
        width: 100%;

        &:not(:first-child) {
          margin: -1% 0 0 0;
        }
        
      }
    }
  }

  .post.quotePost {

    .quote {
      font-family: var(--quote-font);
      font-size: 40px;
      margin: 10px 20px 20px 20px;
    }

    .source {
      margin: 10px 20px 10px 20px;
      font-weight: 500;
    }
  }

  .post.linkPost {
    .linkContainer {
      position: relative;
      width: 90%;
      margin: 0 auto;
      border: 1px solid rgb(0, 0, 0, 0.3);
      border-radius: 10px;
      z-index: 94;
      
      .imgContainer {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 98;

        .imgModal {
          position: absolute;
          background-color: rgb(0, 0, 0, 0.4);
          width: 100%;
          height: fit-content;
          z-index: 98;  
        }

        .siteImage {
          display: block;
          position: relative;
          object-fit: contain;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 94;         
        }

        .siteTitle {
          display: block;
          position: relative;
          top: -175px;
          width: 400px;
          background-color: rgb(0, 0, 0, 0.5);
          border-radius: 3px;
          overflow-y: hidden;

          @media (max-width: 980px) {
            width: 100%;
          }
          
          text-align: center;
          margin: 0 auto;
          font-size: 22px;
          font-weight: 500;
          font-size: 120%;
          color: white;
          z-index: 96;
        }
      }

      .siteDescription {
        position: relative;
        top: -50px;
        font-size: 15px;
        margin: 35px 15px -5px 15px;
      }

      .siteName {
        display: block;
        margin: 0 0 10px 15px;
        font-size: 15px;
        color:rgb(0, 0, 0, 0.5);
      }

      a {
        position: relative;
        margin: 0 auto;
        color: inherit;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .post.chatPost {

    .chatDiv {
      font-family: var(--chat-font);
      font-size: 15px;
      width: 95%;
      margin: 0 auto 20px auto;
    }
  }

  .post.audioPost {

    .audioPlayerContainer {
      display: flex;

      @media (max-width: 980px) {
        flex-direction: column;
      }

      background-color: rgb(0, 0, 0, 0.1);

      .audioDataContainer {
        margin: 0 0 10px 25px;

        p {
          margin: 5px 0 0 0;
        }

        .title {
          font-size: 17px;
          font-weight: 700;
        }

        .artist, .album {
          font-size: 15px;
        }
      }

      .rhap_container {
        width: 100%;

        @media (max-width: 980px) {
          width: 100%;  
        }

        margin: 0 auto;
      }
    }
  }

  .post.videoPost {

    video {
      object-fit: contain;
    }
  }
}