.discoverContainer {
  margin: 100px auto 100px auto;
  width: 1024px;

  @media (max-width: 1024px) {

    @media(min-width: 280px) {
      width: 280px;
    }

    @media(min-width: 320px) {
      width: 320px;
    }

    @media(min-width: 360px) {
      width: 360px;
    }

    @media(min-width: 375px) {
      width: 375px;
    }

    @media(min-width: 410px) {
      width: 411px;
    }

    @media(min-width: 413px) {
      width: 414px;
    }

    @media(min-width: 540px) {
      width: 540px;
    }

    @media(min-width: 768px) {
      width: 500px;
    }

    @media(min-width: 1020px) {
      width: 870px;
    }
  }

  .discoverTagsHeader {
    display: flex;
    flex-direction: row;
    width: 710px;
    border: 5px solid var(--tumblr-translucent-blue);
    margin-left: 7px;
    overflow-x: auto;

    @media (max-width: 1024px) {
      width: 90%;
      margin: 0 auto;
    }

    .recommendedTagsContainer {
      display: flex;
      flex-direction: space-between;
  
      .recommendedTags {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        height: 80px;
        width: 150px;
        border-radius: 3px;
        box-shadow: 0px 0px 15px -7px black;
      }

      a {
        font-size: 14px;
        font-weight: 500;
        font-family: var(--font);
        margin: 10px;
        color: white;

        &:hover {
          cursor: pointer;
        }
      }

      form {
        margin: auto;

        button {
          background-color: var(--mid-gray);
          color: white;
          font-weight: bold;
          padding: 8px 10px;
          border-radius: 3px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .recommendedTags.blue {
        background-color: var(--tumblr-light-blue);
      }

      .recommendedTags.green {
        background-color: var(--tumblr-green);
      }

      .recommendedTags.orange {
        background-color: orange;
      }
    }
  }

  .followedTagsContainer {
    position: relative;
    top: -90px;
    background-color: var(--tumblr-translucent-blue);
    width: 250px;
    max-height: 400px;
    margin: 0 5px 0 0;
    float: right;
    font-family: var(--font);
    border-radius: 3px;
    overflow: auto;

    @media (max-width: 1024px) {
      display: none;
    }
    
    .followedTagsHeader {
      color: white;
      padding: 8px;
    }
  
    .followedTags {
      width: 90%;
      margin: 5px auto;
      color: white;
    
      li {

        .tagResultContainer {
          display: flex;
          justify-content: space-between;

          a {
            color: white;
            font-family: var(--font);
            font-size: 500;
            word-break: break-all;
          }
          
          form {
            button {
              color: var(--tumblr-light-blue);
              font-weight: bold;
              font-family: var(--font);
            }
          }

          span {
            font-size: 14px;
          }
        }

        .recentPostsCount {
          display: inline-block;
          font-size: 13px;
          margin: 0 0 0 3px;
        }
      }
    }
  }


  .discoverPostHeader {
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);

    div {
      display: flex;
      margin: 0 0 5px 0;

      .profilePic {
        width: 38px;
        height: 42px;
        margin: 10px 0 5px 10px;
        border-radius: 5px;
      }
    
      h3 {
        display: block;
        font-size: 14px;
        font-weight: 700;
        margin: 18px 0 0 7px;
      
      }

      p {
        font-size: 13px;
        width: 90%;
        margin: 3px 0 0 5px;
      }
    
      a {
        &:hover {
          cursor: pointer;
        }
      }
    }
  
    form {
      margin-left: auto;
    
      button {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        margin: 22px 15px 0 0;
        color: var(--tumblr-light-blue);
      }
    }
  }

  .discoverFeed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    float: left;

    .leftColumn {
      margin: 0 25px 0 0;

      @media (max-width: 1024px) {
        margin: 0;
      }
    }

    .leftColumn, .rightColumn {
      
      .post.repost {
  
        .userRepostShowHeader {
          
          .profilePic {
            left: 8px;
            top: 10px;
            width: 30px;
            height: 30px;
          }
  
          a {
            font-size: 13px;
            font-weight: 700;
            color: inherit;
          }
  
          span {
            display: inline-flex;
            margin: 15px 0 10px 45px;
          }
  
          div {
            position: relative;
            top: -4px;
            
            img {
              position: relative;
              top: 2px;
              margin: 0 0 0 5px;
              opacity: .7;
            }
            
            .repostedFrom {
              position: relative;
              top: -5px;
              margin-left: 5px;
              color:rgb(0, 0, 0, 0.7);
            }
          }
        }
      }
    }


    .post.chatPost {
      
      .chatDiv {
        width: 90%;
        margin: 10px auto 5px auto;
      }
    }

    .post.linkPost {

      .linkContainer {

        .siteTitle {
          width: 100%;
          top: -120px;
          font-size: 100%;
        }
      }
    }
  
    .post {
      width: 350px;
      margin: 10px 0;
      height: fit-content;

      @media (max-width: 1024px) {
        
        @media (min-width: 280px) {
          
          width: 100%;
        }

        @media(min-width: 768px) {
          width: 500px;
        }
    
        @media(min-width: 1020px) {
          width: 870px;
        }
      }

    }
  }
}