@media (max-width: 980px) {
  .postRadar {
    display: none;
  }

  .checkOutTheseBlogs {
    display: none;
  }
}

.mobilePostsNavModal.open {
  background-color: rgba(0, 0, 0, 0.7);
}

.mobilePostsNavModal.none {
  display: none;
}

.mobilePostsNavModal {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 98;
  
  .mobilePostsNav.open {
    transform: translateX(-50%) rotate(0deg);
  
    .postIconContainer {
      transform: rotate(0deg);
    }
  }

  .mobilePostsNav.open.postFormOpen {
    transform: translateX(-50%) scale(.5);
  }

  .mobilePostsNav {
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-250%) rotate(-180deg) scale(1);
    border-radius: 50%;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    transition: transform .3s ease;
    z-index: 99;
    

    @media (max-width: 320px) {
      width: 270px;
      height: 270px;
    }
  
    .postIconContainer {
      display: inline-block;
      position: relative;
      border-radius: 50%;
      box-shadow: 0px 1px 22px -7px black;
      width: 85px;
      height: 85px;
      transform: rotate(180deg);
      transition: transform .5s ease;

      @media (max-width: 320px) {
        width: 60px;
        height: 60px;
      }
  
      div {
        display: flex;
        position: relative;
        flex-direction: column;
        left: 25px;
  
        img {
          position: relative;
          margin: 0 auto;
          top: 16px;
          left: -24px;
          width: 50px;
          filter: contrast(500%);

          @media (max-width: 320px) {
            top: 15px;
            width: 30px;
          }
        }

        span {
          position: relative;
          font-family: 'Noto Sans JP', sans-serif;
          font-size: 16px;
          font-weight: 700;
          top: 37px;          
          color: var(--off-white);

          @media (max-width: 320px) {
            top: 30px;
          }
        }
      }
    }
  }

  .text {
    position: relative;
    background-color: var(--off-white);
    top: 55px;
    left: 25px;

    @media (max-width: 320px) {
      top: 37px;
      left: 25px;
    }

    span {
      left: 3px;
      
      @media (max-width: 320px) {
        left: -12px;
      }
    }
  }

  .photo {
    position: relative;
    background-color: #FC2F25;
    top: 0px;
    left: 46px;

    @media (max-width: 320px) {
      top: 0px;
      left: 45px;
    }

    span {
      left: -5px;

      @media (max-width: 320px) {
        left: -17px;
      }
    }
  }

  .quote {
    position: relative;
    background-color: #FD7508;
    top: 55px;
    left: 70px;

    @media (max-width: 320px) {
      top: 36px;
      left: 64px;
    }

    span {
      left: -6px;

      @media (max-width: 320px) {
        left: -17px;
      }
    }
  }

  .link {
    position: relative;
    background-color: #1BCA29;
    top: 175px;
    left: 8px;

    @media (max-width: 320px) {
      top: 128px;
      left: 23px;
    }

    span {
      left: 3px;

      @media (max-width: 320px) {
        left: -11px;
      }
    }
  }

  .chat {
    position: relative;
    background-color: #14A7FF;
    top: 170px;
    left: 183px;

    @media (max-width: 320px) {
      top: 138px;
      left: 149px;
    }

    span {
      left: -0.5px;

      @media (max-width: 320px) {
        left: -13px;
      }
    }
  }

  .audio {
    position: relative;
    background-color: #673CFF;
    top: 170px;
    left: -4px;

    @media (max-width: 320px) {
      top: 138px;
      left: -.5px;
    }

    span {
      left: -5px;

      @media (max-width: 320px) {
        left: -17px;
      }
    }
  }

  .video {
    position: relative;
    background-color: #FC41C4;
    top: 85px;
    left: -165px;
    
    span {
      left: -3px;

      @media (max-width: 320px) {
        left: -14px;
      }
    }

    @media (max-width: 320px) {
      top: 65px;
      left: -115px;
    }
  }
}