.postRadar {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 50px 0 0 0;
  width: 330px;
  height: fit-content;
  
  .radarHeader {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 3px solid #1A283E;
    padding-bottom: 15px;
    margin: 0 0 0 8px;
    color: var(--off-white);
  }

  .post {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    width: 300px;
    height: auto;
    background-color: white;
    font-family: var(--font);

    .postRadarPostHeader {
      display: flex;
      border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    
      div {
        display: flex;
        
        .profilePic {
          width: 38px;
          height: 42px;
          margin: 10px 0 5px 10px;
          border-radius: 5px;
        }

        h3 {
          display: block;
          font-size: 14px;
          font-weight: 700;
          margin: 10px 0 0 7px;
        }

        p {
          font-size: 13px;
          margin: 0 0 10px 8px;
          width: 100%;
        }

        a {
          &:hover {
            cursor: pointer;
          }
        }
      }

      form {
        margin-left: auto;

        button {
          font-size: 16px;
          font-weight: 700;
          margin: 22px 15px 0 0;
          color: var(--tumblr-light-blue);
        }
      }
    }

    .audioPlayerContainer {
      display: flex;
      flex-direction: column;
    }

    .rhapContainer {
      width: 100%;
    }

    .chatDiv {
      margin-top: 15px !important;
    }
    
    .siteTitle {
      top: -95px !important;
      font-size: 14px !important;
      width: 250px !important;
    }

    .siteDescription {
      top: -40px !important;
      width: 90%;
      word-break: break-all;
    }
  }
}