.tagFeedContainer {
  width: 600px;
  margin: 100px auto;

  @media (max-width: 1024px) {

    @media(min-width: 280px) {
      width: 280px;
    }

    @media(min-width: 320px) {
      width: 320px;
    }

    @media(min-width: 360px) {
      width: 360px;
    }

    @media(min-width: 375px) {
      width: 375px;
    }

    @media(min-width: 410px) {
      width: 411px;
    }

    @media(min-width: 413px) {
      width: 414px;
    }

    @media(min-width: 540px) {
      width: 540px;
    }

    @media(min-width: 768px) {
      width: 500px;
    }

    @media(min-width: 1020px) {
      width: 870px;
    }
  }

  .tagShow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 20px 0;
    height: 175px;
    width: 100%;
    color: white;
    font-family: var(--font);
    background-color: #0F1E33;
    border-radius: 3px;

    .tagShowHeader {
      .title {
        font-size: 40px;
        font-weight: 500;
        margin: 15px;
      }

      form {
        button {
          color: black;
          padding: 8px 10px;
          margin: 0 0 0 25px;
          font-size: 18px;
          background-color: var(--tumblr-light-blue);
          font-weight: bold;
          font-family: var(--font);
          border-radius: 3px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .tagShowData {
      margin: 10px;

      .followersCount {
        display: inline-block;
        margin: 0 20px 0 0;
      }
    }
  }

  .userOrTagFeed {
    width: 100%;
  }
}