.userBlogFeedContainer {
  width: 600px;
  margin: 100px auto;

  @media (max-width: 1024px) {
    margin: 70px auto;

    @media(min-width: 280px) {
      width: 280px;
    }

    @media(min-width: 320px) {
      width: 320px;
    }

    @media(min-width: 360px) {
      width: 360px;
    }

    @media(min-width: 375px) {
      width: 375px;
    }

    @media(min-width: 410px) {
      width: 411px;
    }

    @media(min-width: 413px) {
      width: 414px;
    }

    @media(min-width: 540px) {
      width: 540px;
    }

    @media(min-width: 768px) {
      width: 500px;
    }
  }

  .userShowContainer {
    background-color: var(--tumblr-translucent-blue);
    font-family: var(--font);
    margin: 0 0 20px 0;
    border-radius: 3px;
    height: 300px;
    width: 100%;
    

    @media (max-width: 1024px) {

      @media(min-width: 768px) {
        width: 500px;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 15px auto;
      width: fit-content;

      .profilePic {
        width: 120px;
        height: 130px;
        margin: 15px auto;
      }

      h1, h3 {
        color: white;
        margin: 0 auto;
      }

      h1 {
        font-size: 50px;
        font-weight: 500;

        @media (max-width: 1024px) {
          font-size: 40px;
        }
      }

      h3 {
        font-size: 20px;

        @media (max-width: 1024px) {
          font-size: 18px;
        }
      }
    }

    form {
      display: block;
      position: relative;
      top: -60%;
      left: 73%;
      width: fit-content;

      @media (max-width: 1024px) {
        top: -2%;
        left: 50%;
        transform: translateX(-50%);
      }
      
      button {
        background-color: var(--tumblr-light-blue);
        font-family: var(--font);
        font-weight: 500;
        font-size: 25px;
        padding: 10px 20px;
        border-radius: 3px;

        @media (max-width: 1024px) {
          font-size: 18px;
        }
      }
    }
  }
}